.home {
  display: flex;
  overflow: hidden;
}
.content-chat {
  padding-top: 10px;
  display: flex;
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  gap: 10px;
}
.chat-list {
  flex: 2;
  width: auto;
}
.customer-info {
  width: 300px;
}
