.sidebar{
  padding-top: 56px;
  padding-bottom: 56px;
  width: 70px;
  height: auto;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0 10px 10px 0;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  left: 0;
  top: 0;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
}

.menu-item {
  width: auto;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  color: #666;
  cursor: pointer;
  background-color: white;
}

.menu-item:hover {
  color: #1890ff;
  opacity: 1;
}

.active .menu-item {
  background-color: white;
  color: #1890ff;
  border-radius: 10px;
}
